adjacency/pa.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://ogr.maptools.org/" xmlns:ogr="http://ogr.maptools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" version="1.0">
<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
<xs:element name="FeatureCollection" type="ogr:FeatureCollectionType" substitutionGroup="gml:_FeatureCollection"/>
<xs:complexType name="FeatureCollectionType">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureCollectionType">
      <xs:attribute name="lockId" type="xs:string" use="optional"/>
      <xs:attribute name="scope" type="xs:string" use="optional"/>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
<xs:element name="pa_final" type="ogr:pa_final_Type" substitutionGroup="gml:_Feature"/>
<xs:complexType name="pa_final_Type">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence>
        <xs:element name="geometryProperty" type="gml:PolygonPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
        <xs:element name="STATEFP10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="COUNTYFP10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VTDST10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GEOID10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VTDI10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NAME10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NAMELSAD10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="100"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LSAD10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MTFCC10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FUNCSTAT10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ALAND10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="14"/>
              <xs:fractionDigits value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AWATER10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="14"/>
              <xs:fractionDigits value="0"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="INTPTLAT10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="INTPTLON10" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="OID_" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PA_GEO_ID" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PA_VOTE_ID" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VAP" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STATEFP1_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="COUNTYFP_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VTDST10_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GEOID10_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VTDI10_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NAME10_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="44"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NAMELSAD_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="57"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LSAD10_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MTFCC10_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FUNCSTAT_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ALAND10_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AWATER10_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="INTPTLAT_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="INTPTLON_1" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="LOGRECNO" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="6"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="POP100" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PA_AGG" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FRACTION" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PRECINCT_C" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="5"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="US_HOUSE_D" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PA_SEN_DIS" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="PA_HOUSE_D" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MUNI_TYPE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="1"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MUNI_NAME" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="32"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="BICOUNTY_C" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="2"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="MCD_CODE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="FIPS_CODE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="3"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="VTD_CODE" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVDV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVRV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHDV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHRV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSDV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSRV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCDV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCRV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSDV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSRV2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVP2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHP2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSP2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCP2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSP2010" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTDV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTRV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDDV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDRV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHDV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHRV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSDV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSRV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TREDV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TRERV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCDV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCRV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPDV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPRV2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTP2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDP2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHP2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSP2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TREP2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCP2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPP2008" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVDV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVRV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHDV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHRV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSDV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSRV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCDV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCRV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSDV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSRV2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVP2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHP2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSP2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCP2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSP2006" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTDV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTRV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDDV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDRV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHDV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHRV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSDV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSRV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TREDV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TRERV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCDV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCRV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPDV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPRV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSDV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSRV2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTP2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDP2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHP2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSP2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TREP2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCP2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPP2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSP2004" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVDV2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVRV2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHDV2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHRV2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSDV2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSRV2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCDV2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCRV2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="GOVP2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHP2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSP2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCP2002" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTDV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTRV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDDV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDRV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHDV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHRV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSDV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSRV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TREDV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TRERV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCDV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCRV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPDV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPRV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSDV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSRV2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="ATTP2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AUDP2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STHP2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="STSP2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TREP2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USCP2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USPP2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="USSP2000" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="AV" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="TURNOUT08" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NDV" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NRV" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="19"/>
              <xs:fractionDigits value="11"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="NEIGHBORS" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="226"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="SUM" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="9"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
</xs:schema>
